@{
    ViewData["Title"] = "İletişim";
}
<section class="breadcrumb-area banner-6">
      <div class="text-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 v-center">
              <div class="bread-inner">
                <div class="bread-title wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <h2>İletişim</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section-->
    <div class="contact-info pad-tb">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2><span class="typer" id="main" data-words="Merhaba, Hello, Bonjour, Guten tag, Hola, Konnichiwa" data-delay="100" data-deletedelay="1000" style="color: black;"> Olá</span> <span class="cursorx" data-owner="first-typer">|</span></h2>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-lg-8">
            <h5 class="mt30 mb30">Adresimiz</h5>
            <div class="getintouchblock">
              <div class="locations ">
                <div class="ouroffice">
                  <h4>Merkez</h4>
                  <p>Kültür Mah. M.M. Birsel Cad. No:24/4 Alsancak / İzmir</p>
                  <a href="#" target="blank">View on map <i class="fas fa-location-arrow fa-icon"></i></a>
                </div>
                <div class="ouroffice">
                  <h4>Arge Departmanı</h4>
                  <p>Ege Üniversitesi Kampüs Erzene Mah. Ankara Cad. No:172 / 67 Bornova / İzmir</p>
                  <a href="#" target="blank">View on map <i class="fas fa-location-arrow fa-icon"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <h5 class="mt30 mb30">Dial a Call or Drop an Email</h5>
            <div class="media mt15">
                    <div class="icondive"><img src="images/icons/call.svg" alt="icon"></div>
                    <div class="media-body getintouchinfo">
                        <a href="tel:123456790">+90 232 464 25 84 <span>Hafta içi 08.00 - 18.00</span></a>
                    </div>
                </div>
                <div class="media mt15">
                    <div class="icondive"><img src="images/icons/mail.svg" alt="icon"></div>
                    <div class="media-body getintouchinfo">
                        <a href="mailto:info@smartmoles.com">info@smartmoles.com<span>Online Support</span></a>
                    </div>
                </div>
                <div class="media mt15">
                    <div class="icondive"><img src="images/icons/map.svg" alt="icon"></div>
                    <div class="media-body getintouchinfo">
                        <a href="mailto:info@website.com">Bornova/İzmir<span>Visit Our Office</span></a>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!--Section-->
    <section class="contact-page pad-tb bg-gradient3">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-7">
            <div class="niwax23form shadow">
              <div class="common-heading text-l">
                <h2 class="mt0 mb0">Bize Ulaşın</h2>
                <p class="mb50 mt10">İletişim formundan bizimle iletişime geçebilirsiniz. Gönderdiğiniz formlar müşteri temsilcimiz tarafından incelendikten sonra en kısa süre zarfında tarafınıza dönüş sağlanacaktır.</p>
              </div>
              <div class="contact-form-card-pr contact-block-sw m0 iconin">
                <div class="form-block niwaxform">
                  <form action="#" id="contactform" method="post" novalidate="novalidate">
                    <div class="fieldsets row">
                      <div class="col-md-6 form-group floating-label">
                        <div class="formicon"><i class="fas fa-user"></i></div>
                        <input type="text" placeholder=" " required="required" id="name" class="floating-input" name="fullname">
                        <label>Ad</label>
                        <div class="error-label"></div>
                      </div>
                       <div class="col-md-6 form-group floating-label">
                        <div class="formicon"><i class="fas fa-user"></i></div>
                        <input type="text" placeholder=" " required="required" id="surname" class="floating-input" name="fullname">
                        <label>Soyad</label>
                        <div class="error-label"></div>
                      </div>
                      <div class="col-md-6 form-group floating-label">
                        <div class="formicon"><i class="fas fa-phone-alt"></i></div>
                        <input type="tel" placeholder=" " required="required" id="mobile_number" class="floating-input" name="mobile_number">
                        <label>Telefon</label>
                        <div class="error-label"></div>
                      </div>
                      <div class="col-md-6 form-group floating-label">
                        <div class="formicon"><i class="fas fa-envelope"></i></div>
                        <input type="email" placeholder=" " required="required" id="email" class="floating-input" name="email">
                        <label>Email</label>
                        <div class="error-label"></div>
                      </div>
                    </div>
                    <div class="fieldsets row textareax">
                      <div class="col-md-12 form-group floating-label">
                        <div class="formicon"><i class="fas fa-comment-dots"></i></div>
                        <textarea placeholder=" " required="required" id="description" class="floating-input" name="description"></textarea>
                        <label>Mesajınız</label>
                        <div class="error-label"></div>
                      </div>
                    </div>
                    <div class="custom-control custom-checkbox ctmsetsw">
                      <input type="checkbox" class="custom-control-input ctminpt" id="agree" name="agree" checked="checked">
                      <label class="custom-control-label ctmlabl" for="agree">"Gönder" düğmesini tıklayarak <b><a href="javascript:void(0)">Şartlar ve Koşullarımız</a></b>ı kabul etmiş olursunuz .</label>
                    </div>
                    <div class="fieldsets mt20"> <button type="submit" name="submit" class="btn btn-main bg-btn w-fit mb20"><span>Submit <i class="fas fa-chevron-right fa-icon"></i></span> <span class="loader"></span></button> </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 m-mt30">
            <div class="pl--50">
              <h2>Trusted by</h2>
              <p class="mt10">Clients belive us and we deliverd them good service</p>
              <div class="client-trust-us mt30">
                <div class="clientsicons">
                  <a href="#"><img src="images/client/customer-logo-1.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-2.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-3.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-4.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-5.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-6.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-7.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-8.png" alt="icon"></a>
                  <a href="#"><img src="images/client/customer-logo-9.png" alt="icon"></a>
                </div>
              </div>

              <div class="owl-carousel testimonial-card-a contact-review shadow mt40 owl-loaded owl-drag">
                
                
                
              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-772px, 0px, 0px); transition: all 0.5s ease 0s; width: 2702px;"><div class="owl-item cloned" style="width: 386px;"><div class="testimonial-card">
                  <div class="tt-text">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="client-thumbs mt20">
                    <div class="media v-center">
                      <div class="user-image bdr-radius"><img src="images/client/client-pic-x.jpg" alt="girl" class="img-fluid"></div>
                      <div class="media-body user-info">
                        <h5>Fred Chener</h5>
                        <p>CEO of Aramxx, <small>Ohio, US State</small></p>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 386px;"><div class="testimonial-card">
                  <div class="tt-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="client-thumbs mt20">
                    <div class="media v-center">
                      <div class="user-image bdr-radius"><img src="images/client/client-pic-x.jpg" alt="girl" class="img-fluid"></div>
                      <div class="media-body user-info">
                        <h5>Mathilda Burns</h5>
                        <p>Backery Shop, <small>Tronto, Italy</small></p>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item active" style="width: 386px;"><div class="testimonial-card">
                  <div class="tt-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="client-thumbs mt20">
                    <div class="media v-center">
                      <div class="user-image bdr-radius"><img src="images/client/client-pic-x.jpg" alt="girl" class="img-fluid"></div>
                      <div class="media-body user-info v-center">
                        <h5>Mike Smith</h5>
                        <p>Business Owner, <small>Sydney, Australia</small></p>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item" style="width: 386px;"><div class="testimonial-card">
                  <div class="tt-text">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="client-thumbs mt20">
                    <div class="media v-center">
                      <div class="user-image bdr-radius"><img src="images/client/client-pic-x.jpg" alt="girl" class="img-fluid"></div>
                      <div class="media-body user-info">
                        <h5>Fred Chener</h5>
                        <p>CEO of Aramxx, <small>Ohio, US State</small></p>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item" style="width: 386px;"><div class="testimonial-card">
                  <div class="tt-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="client-thumbs mt20">
                    <div class="media v-center">
                      <div class="user-image bdr-radius"><img src="images/client/client-pic-x.jpg" alt="girl" class="img-fluid"></div>
                      <div class="media-body user-info">
                        <h5>Mathilda Burns</h5>
                        <p>Backery Shop, <small>Tronto, Italy</small></p>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 386px;"><div class="testimonial-card">
                  <div class="tt-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="client-thumbs mt20">
                    <div class="media v-center">
                      <div class="user-image bdr-radius"><img src="images/client/client-pic-x.jpg" alt="girl" class="img-fluid"></div>
                      <div class="media-body user-info v-center">
                        <h5>Mike Smith</h5>
                        <p>Business Owner, <small>Sydney, Australia</small></p>
                      </div>
                    </div>
                  </div>
                </div></div><div class="owl-item cloned" style="width: 386px;"><div class="testimonial-card">
                  <div class="tt-text">
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                  <div class="client-thumbs mt20">
                    <div class="media v-center">
                      <div class="user-image bdr-radius"><img src="images/client/client-pic-x.jpg" alt="girl" class="img-fluid"></div>
                      <div class="media-body user-info">
                        <h5>Fred Chener</h5>
                        <p>CEO of Aramxx, <small>Ohio, US State</small></p>
                      </div>
                    </div>
                  </div>
                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
              
            </div>
          </div>
        </div>
      </div>
    </section>