@{
    ViewData["Title"] = "Home Page";
}

<!--Start Hero-->
<section class="digitalagency20">
    <div class="hero-main-rp container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="hero-heading-sec">
                    <h2 class="wow fadeIn" data-wow-delay="0.3s">İŞİN Kökünde Yapay Zeka Var</h2>
                    <p class="wow fadeIn" data-wow-delay="0.6s">Verimi Arttıran Akıllı Damlalar</p>
                    <div class="awards-block-tt  wow fadeIn" data-wow-delay="1s">
                        <img width="200px" he src="images/hero/kostebek6.png" class="img-fluid" />
                        <a href="case-study.html" class="btn-main bg-btn3 lnk wow fadeIn" data-wow-delay="0.8s">Ürünleri İncele <i class="fas fa-chevron-right fa-ani"></i><span class="circle"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-content-sec wow fadeIn" data-wow-delay="0.8s">
                    <div class="video-intro-pp"><a class="video-link play-video" href="https://www.youtube.com/watch?v=tD4xK6m2R0c?autoplay=1&amp;rel=0"><span class="triangle-play"></span></a></div>
                    <div class="title-hero-oth">
                        <p>Doğa Kanunları'nın müsaade ettiği üst sınıra kadar <span>tasarruf sağlayarak VERİMİ arttırıyoruz!</span></p>
                    </div>
                </div>
                <div class="hero-right-scmm">
                    <div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
                        <div class="owl-carousel service-card-prb">
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-capillarity-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartCapillarity</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-root-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartRoot</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-waterlevel-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartWaterlevel</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-moisture-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartMoisture</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-irrigation-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartIrrigation</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Hero-->
