@{
    ViewData["Title"] = "Anasayfa";
}

<!--Start Hero-->
<section class="digitalagency20">
    <div class="hero-main-rp container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="hero-heading-sec">
                    <h2 class="wow fadeIn" data-wow-delay="0.3s">İŞİN Kökünde Yapay Zeka Var</h2>
                    <p class="wow fadeIn" data-wow-delay="0.6s">Verimi Arttıran Akıllı Damlalar</p>
                    <div class="awards-block-tt  wow fadeIn" data-wow-delay="1s">
                        <img width="200px" he src="images/hero/kostebek6.png" class="img-fluid" />
                        <a href="case-study.html" class="btn-main bg-btn3 lnk wow fadeIn" data-wow-delay="0.8s">Ürünleri İncele <i class="fas fa-chevron-right fa-ani"></i><span class="circle"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-content-sec wow fadeIn" data-wow-delay="0.8s">
                    <div class="video-intro-pp"><a class="video-link play-video" href="https://www.youtube.com/watch?v=tD4xK6m2R0c?autoplay=1&amp;rel=0"><span class="triangle-play"></span></a></div>
                    <div class="title-hero-oth">
                        <p>Doğa Kanunları'nın müsaade ettiği üst sınıra kadar <span>tasarruf sağlayarak VERİMİ arttırıyoruz!</span></p>
                    </div>
                </div>
                <div class="hero-right-scmm">
                    <div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
                        <div class="owl-carousel service-card-prb">
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-capillarity-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartCapillarity</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-root-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartRoot</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-waterlevel-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartWaterlevel</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-moisture-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartMoisture</div>
                                    </div>
                                </a>
                            </div>
                            <div class="service-slide" data-tilt data-tilt-max="12" data-tilt-speed="1000">
                                <a href="#">
                                    <div class="service-card-hh">
                                        <div class="image-sr-mm">
                                            <img alt="custom-sport" src="images/service/smart-irrigation-sistem.png">
                                        </div>
                                        <div class="title-serv-c">SmartIrrigation</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="shadow-img"></div>
<!--End Hero-->
<section class="service pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="image-block upset bg-shape wow fadeIn" style="visibility: visible; animation-name: fadeIn; background-color:#f3f3f3; border-radius:200px;">
                    <img src="images/hero/kostebek6.png" alt="image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 block-1">
                <div class="common-heading text-l pl25">
                    <span>Overview</span>
                    <h2>Creative Web Design Service</h2>
                    <p>
                        "Toprak profilindeki nem miktarını ve kapiller su hareketini

                        gerçek zamanlı analiz edebilen ve sulama sistemlerini

                        Yapay Zeka ile yöneten dünyadaki ilk patentli teknolojileri biz geliştirdik."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start service -->
<section class="nx-lp-service dark-bg4 bg-gradient17 pad-tb" id="work">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="niwaxwideserviceslider owl-carousel center-dots">

                    <div class="sliderset-nx">
                        <div class="service-we-deliverd">
                            <h2>
                                SmartCapillarity
                            </h2>
                            <p class="mt20">SmartCapillarity (SC) sistemi, toprak neminin izlenmesinde, uygulanacak sulama suyunun ve bitki su tüketiminin belirlenmesinde; ülkemizde ve dünyada bir ilk olan patenti ﬁrmamızca alınmış ve üretilen, yapay zekâya sahip, toprak proﬁlindeki kapiller su hareketini gerçek zamanlı olarak izlemeye ve sulama sistemini otomatik olarak yönetmeye yarayan bir robot sistemdir.</p>
                            <a href="#" class="niwax-btn2 mt40">Detaylı İncele</a>
                        </div>
                        <div class="imagesofservice">
                            <img src="images/service/smart-capillarity-sistem.png" alt="niwax landing page 2" class="img-fluid">
                        </div>
                    </div>

                    <div class="sliderset-nx">
                        <div class="service-we-deliverd">
                            <h2>SmartRoot</h2>
                            <p class="mt20">Bitkilerin ihtiyaç duydukları suyun %80’inin depolandığı etkili kök bölgesinde suyu ve içindeki gübreyi bitkiye alan emici tüylerin bulunduğu bölgeleri belirleyen akıllı bir kök yönetim bölgesi oluşturma ve toprak proﬁlinde gübrenin bitki tarafından emilimini yöneten bir robot sistemdir.</p>
                            <a href="#" class="niwax-btn2 mt40">Detaylı İncele</a>
                        </div>
                        <div class="imagesofservice">
                            <img src="images/service/smart-root-sistem.png" alt="niwax landing page 2" class="img-fluid">
                        </div>
                    </div>

                    <div class="sliderset-nx">
                        <div class="service-we-deliverd">
                            <h2>SmartWaterlevel</h2>
                            <p class="mt20">Taban suyu seviyesinin bilinmesi, hem drenaj sorununun net olarak tanımlanabilmesi hemde sulama ve gübreleme işlemlerinin kirliliğe ve israfa yol açmadan yapılabilmesi için gerekmektedir.</p>
                            <a href="#" class="niwax-btn2 mt40">Detaylı İncele</a>
                        </div>
                        <div class="imagesofservice">
                            <img src="images/service/smart-waterlevel-sistem.png" alt="niwax landing page 2" class="img-fluid">
                        </div>
                    </div>

                    <div class="sliderset-nx">
                        <div class="service-we-deliverd">
                            <h2>SmartMoisture</h2>
                            <p class="mt20">
                                SmartMoisture toprak nem sensörü projeye özel boyut ve şekilde butik olarak üretilmekte ve yapay zeka ile analiz imkanı vermektedir.

                                Toprağın hacimsel su içeriğini (VWC), kapasitans / frekans alanı teknolojisi kullanarak zeminin dielektrik sabitini ölçerek belirler. SmartMoisture 100 MHz ve üzerindeki frekanslarda kullanılmaktadır.
                            </p>
                            <a href="#" class="niwax-btn2 mt40">Detaylı İncele</a>
                        </div>
                        <div class="imagesofservice">
                            <img src="images/service/smart-moisture-sistem.png" alt="niwax landing page 2" class="img-fluid">
                        </div>
                    </div>

                    <div class="sliderset-nx">
                        <div class="service-we-deliverd">
                            <h2>A score of 750+ boosts your chances of getting a loan</h2>
                            <p class="mt20">We have been providing Digital Marketing service from last 8 years by direct collaboration with our clients. As a Digital Marketing company we are providing all services like SEO Audit, Pay Per Click, Social Media Management, Organic SEO.</p>
                            <a href="#" class="niwax-btn2 mt40">Detaylı İncele</a>
                        </div>
                        <div class="imagesofservice">
                            <img src="images/service/smart-irrigation-sistem.png" alt="niwax landing page 2" class="img-fluid">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>